/*   Theme default css */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 400;
  color: #666666;
  font-size: 16px;
}

button {
  cursor: pointer;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  color: #fafafa;
  margin-top: 0px;
  font-weight: 500;
  text-transform: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.padding {
  padding-right: 0;
}

/* default-css END 
================================== */

/* --- hero-section----start--  */

.top_contact_section {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../img/contact_bg.png");
  background-color: #ea5165;
  background-size: cover;
  height: 60vh;
}

.contact_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact_content h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 68px;
  text-transform: uppercase;
  color: #fff !important;
}

/* --- hero-section----End---  */

/* --- contact_section----start--  */

.contact_section {
  background-image: url("../../img/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 7.5rem 0;
}

.contact_info {
  background: #fff;
  border: 1px solid #9f95a9;
  border-radius: 15px;
  padding: 3.75rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_info img {
  max-width: 242px;
  width: 100%;
}

.contact_section .address {
  margin: 2.8rem 0;
}
.contact_section .address h4 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.contact_section .address p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #3c3838;
}
.contact_section .address p span {
  display: block;
}

.contact_section .contact_form {
  background: #333333;
  border-radius: 15px;
  padding: 2.7rem;
}

.contact_section .contact_form h3 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 59px;
  text-transform: uppercase;
  color: #fafafa;
}

.contact_section .contact_form p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fafafa;
  padding-bottom: 1rem;
}

.contact_section form input,
.contact_section form select,
.contact_section form textarea {
  background: #ffffff;
  border: 1px solid #b79bd4;
  border-radius: 15px;
}

.contact_section form input::placeholder,
.contact_section form textarea::placeholder {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #685879;
}

/* Style the selected option */
.form-select option[selected] {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #685879;
}

/* Style the other options */
.form-select option:not([selected]) {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #685879;
}

.form-select {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #685879;
}

.form-select {
  appearance: none;
  background-image: url("/assets/img/select_arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 1.5rem;
}

.contact_section form button {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  padding: 0.5rem 3.5rem;
  color: #ffffff;
  background: #ea5165;
  border-radius: 15px;
  border: none;
  max-width: 168px;
  width: 100%;
}

.switch_btn {
  margin-top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}

.switch_btn h4 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #fafafa;
  margin-left: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  border-radius: 27px;
  box-shadow: inset 0px 0px 0px 1px #bdc3c7;
  cursor: pointer;
  transition: all 0.3s;
}
.switch input {
  display: none;
}
.switch input:checked + div {
  background-color: #3498db;
  left: calc(100% - 27px);
}
.switch div {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: rgb(150, 150, 150);
  top: 1px;
  left: 0px;
  transition: all 0.4s;
}

.switch-checked {
  box-shadow: inset 0px 0px 0px 1px #fff;
}

.switch2-checked {
  background-color: #2ecc71;
}

/*SWITCH 3 ------------------------------------------------*/

.switch3 {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 24px;
  border-radius: 37px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}
.switch3 input {
  display: none;
}
.switch3 input:checked + div {
  left: calc(80px - 50px);
  box-shadow: 0px 0px 0px white;
}
.switch3 div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 27px;
  background-color: #fff;
  top: 2px;
  left: 5px;
  box-shadow: 0px 0px 1px rgb(150, 150, 150);
  transition: all 0.3s;
}
.switch3 div:before,
.switch3 div:after {
  position: absolute;
  content: "YES";
  width: calc(80px - 40px);
  height: 37px;
  line-height: 37px;
  font-family: "Varela Round";
  font-size: 14px;
  font-weight: bold;
  top: -5px;
}
.switch3 div:before {
  content: "NO";
  /* color: #ffffff; */
  left: 120%;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 30px;
  color: #b79bd4;
}
.switch3 div:after {
  content: "YES";
  right: 20%;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 30px;

  color: #ffffff;
}

.switch3-checked {
  background-color: #ea5165;
  box-shadow: none;
}

/* --- contact_section----End--  */

/* --media-quary---  */

@media screen and (max-width: 772px) {
  .switch_btn {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 528px) {
  .switch_btn {
    margin-left: 2rem;
  }

  .btn_grp {
    display: block !important;
  }

  .contact_section form button {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
}
