
/*============ Area Start =============*/
.hero-Area {text-align: center;padding: 120px 0 70px;}

.hero_content {margin-bottom: 80px;max-width: 980px;margin-inline: auto;}

.hero_content h3 {
    font-size: 30px;
}

.hero_content h1 {
    font-size: 60px;
    margin-bottom: 20px;
}
.hero_blk {
}
.hero_btn {
}
/*============ Area End =============*/

/*============ Area Start =============*/

/*============ Area End =============*/

/*============ Area Start =============*/

/*============ Area End =============*/
