.footer-Area {background: #2B2A36;color: #fff !important;padding: 70px 0 40px;}
.footer_nav {
}

.footer_nav ul li {
    margin-bottom: 12px;
}

.footer_nav a {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
}

.footer_nav h4 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2;
}
.footer__btm {text-align: center;border-top: 1px solid var(--red);max-width: 1200px;margin-inline: auto;margin-top: 60px;}

.footer__btm p {
    margin-bottom: 0;
    padding-top: 40px;
    color: #fff;
}