
.header-area {
    /* padding: 15px 0; */
    width: 100%;
    z-index: 99;
    background: #ffffff;
    /* filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.25)); */
    font-family: 'Montserrat', sans-serif;
  }
  .menu-area nav ul li {
    list-style: none;
    display: inline-block;
    width: max-content;
    margin-right: 40px;
    z-index: 99;
  }

.menu-area nav ul li:hover .mega_menu {
    margin-top: 0px;
    z-index: 99;
    padding-top: 60px;
}
  
  .menu-area nav ul li a {
    font-size: 15px;
    display: inline-block;
    width: max-content;
    padding: 30px 0;
    position: relative;
    z-index: 99;
    font-weight: 500;
  }

.menu-area nav ul li a:hover {
    font-weight: 700;
}
  .menu-area{}
  









  /* mega menu */
.mega_menu {position: absolute;width: 100%;left: 0;/* filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.25)); */height: auto;box-shadow: 0px 15px 25px rgb(0 0 0 / 5%);z-index: -4;padding: 75px 0;margin-top: -496px;transition: all .3s;font-size: 18px;background: #fff;}
.menu__info {max-width: 420px;height: 100%;border-right: 1px solid #000;padding-right: 80px;}

.menu__info p {
    font-size: 18px;
}
.menu__item_wrp {display: flex;flex-wrap: wrap;justify-content: space-between;}
.menu__item_blk {flex: 0 0 33%;margin: 8px 0;}

.menu__item_blk h5 {
    font-weight: 500;
}

.menu__item_blk h5 img {
    display: inline-block;
    margin-right: 8px;
}
  /* mega menu */


  /* humbergar */
  .bar a {
    width: 35px;
    height: 35px;
    float: right;
    position: relative;
  } 
  .bar a span {
    width: 100%;
    height: 3px;
    background: #fff;
    display: block;
    position: relative;
    top: 17px;
    border-radius: 30px;
    transition: .3s;
  } 
  .bar a span:before {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: 10px;border-radius: 30px;transition: .3s;} 
  .bar a span:after {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: -10px;border-radius: 30px;transition: .3s;}
   
  /* humbarger END */
   
















  
  /* mobile-menu START */
  .mobile-menu {
    position: fixed;
    width: 320px;
    height: 100vh;
    background: #ffffff;
    z-index: 99;
    box-shadow: 0px 0px 9px -1px #737373;
    top: 0;
    left: 0;
    transition: .3s;
    margin-left: -400px;
    padding-left: 40px;
    padding-top: 100px;
  }
  .siteBar{
    margin-left: 0; 
  }
  .mobile-menu ul#pills-tab {
    margin-top: 90px;
    margin-bottom: 35px !important;
    display: block;
  }
  .mobile-menu  nav ul li {
    list-style: none;
    display: block;
  }
  
  .mobile-menu nav ul li a {
    color: #272835;
    font-size: 16px;
    line-height: 40px;
    transition: .3s;
  }
  
  .mobile-menu a.bars {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 32px;
    color: rgb(255, 0, 43);
  }
  
  /* Header section END */
  

